/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

body {
    font-size: 13px;
    line-height: 18px;
    padding: 15px 0;
}

body.breadcrumb-fixed {
    padding-top: 64px;
}

#pageTopLink {
    background: transparent url(images/arrow_up.png) no-repeat left center;
    display: inline-block;
    padding-left: 16px;
    margin: 0;
}

li {
    line-height: 18px;
}


/* -------------------------------------------------------------------------- */
/* -----| BREADCRUMBS |------------------------------------------------------ */
/* -------------------------------------------------------------------------- */

.breadcrumb {
    padding: 7px 14px;
    margin: 0 0 15px;
    list-style: none;
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, #fff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #fff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #fff, #f5f5f5);
    background-image: -o-linear-gradient(top, #fff, #f5f5f5);
    background-image: linear-gradient(top, #fff, #f5f5f5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f5f5f5', GradientType=0);
    border: 1px solid #ddd;-webkit-border-radius:3px;
    -moz-border-radius: 3px;border-radius:3px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

.breadcrumb li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-shadow: 0 1px 0 #fff;
}

.breadcrumb .divider {
    padding: 0 5px;
    color: #999;
}

.breadcrumb .active a {
    color: #333;
}

.breadcrumb-fixed .breadcrumb-wrapper {
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, #fff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #fff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #fff, #f5f5f5);
    background-image: -o-linear-gradient(top, #fff, #f5f5f5);
    background-image: linear-gradient(top, #fff, #f5f5f5);
    background-repeat: repeat-x;
    border-bottom: 1px solid #DDD;
    box-shadow: 0 1px 0 #FFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f5f5f5', GradientType=0);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.breadcrumb-fixed .breadcrumb {
    background: transparent;
    border: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin: 0 auto;
    width: 912px;
}


/* -------------------------------------------------------------------------- */
/* -----| DIRECTORY LISTER |------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* ----- HEADER ----- */

#header {
    color: #333;
    font-weight: bold;
}

#header .fileName {
    display: inline-block;
    float: left;
    margin: 8px;
    overflow: hidden;
    width: 645px;
}

#header .fileSize {
    display: inline-block;
    float: left;
    margin: 8px;
    text-align: right;
    width: 100px;
}

#header .fileModTime {
    display: inline-block;
    float: right;
    margin: 8px;
    text-align: right;
}

/* ----- FILE LIST ----- */

#directoryListing {
    margin: 0;
    border: 1px solid #ddd;
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    border-radius:3px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

#directoryListing li {
    background-color: #FFF;
    display: block;
    list-style: none;
    margin-top: -1px;
}

#directoryListing li.even a {
    background-color: #FFF;
    position: relative;
    z-index: 0;
}

#directoryListing li.odd a {
    background-color: #F9F9F9;
}

#directoryListing li a {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    color: #333;
    display: block;
    text-decoration: none;
}

#directoryListing li a:focus {
    background-color: #DEDEDE;
    outline: none;
}

#directoryListing li a:hover {
    border-color: #D3D3EE;
    background-color: #F3F3FF;
    outline: none;
    position: relative;
    z-index: 10;
}

#directoryListing .fileIcon {
    display: inline-block;
    margin: 8px;
    margin-right: -24px;
    width: 16px;
}

#directoryListing .fileName {
    display: inline-block;
    float: left;
    margin: 8px;
    overflow: hidden;
    white-space: nowrap;
    width: 625px;
}

#directoryListing .fileSize {
    display: inline-block;
    float: left;
    margin: 8px;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
    width: 100px;
}

#directoryListing .fileModTime {
    display: inline-block;
    float: right;
    margin: 8px;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
    width: 125px;
}


/* -------------------------------------------------------------------------- */
/* -----| FOOTER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.footer p {
    margin: 10px 0;
    text-align: center;
}


/* -------------------------------------------------------------------------- */
/* -----| ICONS |------------------------------------------------------------ */
/* -------------------------------------------------------------------------- */

i {
    background: transparent url(images/icon-sprite.png) no-repeat 0 0;
    display: inline-block;
    float: left;
    font-size: 1px;
    height: 16px;
    margin-right: 8px;
    position: relative;
    top: 1px;
    width: 16px;
}

.icon-app        { background-position: 0 0; }
.icon-terminal   { background-position: -20px 0; }
.icon-up-dir     { background-position: -40px 0; }
.icon-box        { background-position: -60px 0; }
.icon-cd         { background-position: -80px 0; }
.icon-archive    { background-position: -100px 0; }
.icon-controller { background-position: -120px 0; }
.icon-database   { background-position: -140px 0; }
.icon-disk       { background-position: -160px 0; }
.icon-drive      { background-position: -180px 0; }
.icon-email      { background-position: 0 -20px; }
.icon-film       { background-position: -20px -20px; }
.icon-folder     { background-position: -40px -20px; }
.icon-font       { background-position: -60px -20px; }
.icon-image      { background-position: -80px -20px; }
.icon-music      { background-position: -100px -20px; }
.icon-blank      { background-position: -120px -20px; }
.icon-pdf        { background-position: -140px -20px; }
.icon-c          { background-position: -160px -20px; }
.icon-code       { background-position: -180px -20px; }
.icon-code-red   { background-position: 0 -40px; }
.icon-cplusplus  { background-position: -20px -40px; }
.icon-excel      { background-position: -40px -40px; }
.icon-flash      { background-position: -60px -40px; }
.icon-php        { background-position: -80px -40px; }
.icon-ruby       { background-position: -100px -40px; }
.icon-text       { background-position: -120px -40px; }
.icon-word       { background-position: -140px -40px; }
.icon-picture    { background-position: -160px -40px; }
.icon-arrow-up   { background-position: -180px -40px; }


/* -------------------------------------------------------------------------- */
/* -----| MISCELLANEOUS |---------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.hidden {
    display: none !important;
}

.floatLeft {
    float: left;
    width: auto;
}

.floatRight {
    float: right;
    width: auto;
}
